.confirmation-section{
    margin-top: 80px;
}

.checkmark{
    width: 25%; 
    height: auto;
    background: transparent;
}

.confirmation-animation{
    margin-top: 20px;
    display: grid;
    place-items: center;
}

.confirmation-cont{
    padding: 5%;
    width: 80%;
    height: auto;
    margin: auto 0;
    text-align: center;
    margin-top: 50px;
    border: 1px solid var(--black);
    margin-left: 10%;
    margin-right: 10%;
}

.order-details{
    display: block;
    text-align: left;
    margin-left: 20px;
}

.order-product{
    display: flex;
    padding: 10px;
}

.order-image{
    width: 35%; 
    height: 100%; 
    object-fit: contain;
}

.order-summary {
    width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--black);
}

.order-item{
    border: 1px solid var(--black);
    margin-bottom: 20px;         
    padding: 15px;              
    border-radius: 5px;          
    display: flex;             
    align-items: center;     
}

.order-summary-title{
    font-size: 1.7rem;
    font-weight: bold;
}

.order-summary-details{
    font-size: 1.4rem;
}

@media (max-width: 1024px) {
    
    .order-summary {
        width: 80%;
        height: auto;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--black);

    }
}


@media (max-width: 768px) {
    .checkmark{
        width: 40%; 
        height: auto;
        background: transparent;
    }
    .order-summary {
        width: 90%;
        height: auto;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--black);
    }

    .order-summary-title{
        font-size: 1.5rem;
    }

    .order-summary-details{
        font-size: 1.2rem;
    }
}


@media (max-width: 480px) {
    .checkmark{
        width: 60%; 
        height: auto;
        background: transparent;
    
    }

    .order-summary {
        width: 90%;
        height: auto;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--black);
    }

    .order-summary-title{
        font-size: 1.2rem;
    }

    .order-summary-details{
        font-size: 1rem;
    }
}

