.confirmation-section{
    margin-top: 80px;
}

.checkmark{
    width: 25%; 
    height: auto;
    background: transparent;
}

.confirmation-animation{
    margin-top: 20px;
    display: grid;
    place-items: center;
}

.confirmation-cont{
    padding: 5%;
    width: 80%;
    height: auto;
    margin: auto 0;
    text-align: center;
    margin-top: 50px;
    border: 1px solid var(--black);
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 768px) {
    .checkmark{
        width: 40%; 
        height: auto;
        background: transparent;
    }
}


@media (max-width: 480px) {
    .checkmark{
        width: 60%; 
        height: auto;
        background: transparent;
    
    }
}

