footer{
    height: 223px;
    width: 100%;
    background-color: var(--primary);
    bottom: 0;
    position: absolute;
    display: flex;
    overflow: hidden;
}

.footer-logo-container{
    height: auto;
    width: 30%;
    padding: 70px;
    margin-left: 10px;
}

.footer-logo{
    width: 200px;
    height: auto;
}

.footer-text-container{
    width: 70%;
    height: auto;
    display: flex;
    gap: 15%;
    font-weight: normal;
    margin-top: 90px;
    padding: 10px;
}

.footer-text-container a{
    font-size: 1.625rem;
    color: var(--white);
    text-decoration: none;
    }

@media (max-width: 1280px) {
footer{
    height: 427px;
    width: 100%;
    display: block;
    }

.footer-logo-container{
    height: auto;
    width: 100%;
    position: absolute;
    margin-top: 170px;
    }

.footer-logo{
    display: block; 
    margin: auto;
}

.footer-text-container{
    width: 100%;
    height: auto;
    display: grid;
    position: absolute;
    text-align: center;
    gap: 20%;
    margin-top: 10px;
    }
}