nav{
    height: 80px;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-logo-container{
    width: 45%;
    height: auto;
    padding-top: 5px;
}

.navbar-logo{
    width: 90px;
    height: auto;
    display: block; 
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.menu-buttons-container{
    width: 55%;
    height: auto;
    margin-left: auto;
}

.menu-icons{
    display: flex;
    gap: 30px;
    float: right;
    margin-right: 20px;
    padding-top: 15px;
    overflow: hidden;
}

.bi-house, .bi-heart, .bi-cart{
    font-size: 2.5rem;
    color: var(--white);
}

.cart-count a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.25rem;
}


/* Extra small devices (phones, 600px and down) */
@media (min-width: 359px) and (max-width: 800px) {
    .menu-icons{
        display: flex;
        gap: 30px;
        float: right;
        margin-right: 20px;
        padding-top: 20px;
        overflow: hidden;
    }
    
    .bi-house, .bi-heart, .bi-cart{
        font-size: 2rem;
        color: var(--white);
    }

    .cart-count a{
        color: var(--white);
        text-decoration: none;
        font-size: 1rem;
    }

}

@media (max-width: 358px){
    .menu-icons{
        display: flex;
        gap: 15px;
        float: right;
        margin-right: 15px;
        padding-top: 25px;
        overflow: hidden;
    }
    
    .bi-house, .bi-heart, .bi-cart{
        font-size: 1.7rem;
        color: var(--white);
    }

    .cart-count a{
        color: var(--white);
        text-decoration: none;
        font-size: 0.9rem;
    }

}



