nav{
    height: 100px;
    width: 100%;
    background-color: var(--primary);
    display: flex;
}

.navbar-logo-container{
    width: 45%;
    height: 100px;
    padding-top: 5px;
}

.navbar-logo{
    width: 120px;
    height: auto;
    display: block; 
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.menu-buttons-container{
    width: 55%;
    height: auto;
    padding-top: 20px;
    margin-left: auto;
}

.menu-icons{
    display: flex;
    gap: 10px;
    float: right;
    margin-right: 10px;
}

.bi-house, .bi-heart, .bi-cart{
    font-size: 3rem;
    color: var(--white);
    padding: 10px;
}


