.product-page-container{
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
}


.info-and-button{
    width: 40%;
    float: right;
}

.product-main{
    margin-left: 5%;
    margin-right: 5%;
}

.product-page-title{
    font-size: 2.5rem;
    color: var(--black);
    text-align: left;
    font-weight: bold;
    margin-bottom: 40px;
}

.productpage-image-container{
    border: 1px solid var(--black);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 30px;
    float: left;
    width: 40%;
    height: auto;
    margin-bottom: 50px;
}

.productpage-image{
    width: 100%;
    margin: 0 auto;
}

.bi-arrow-left{
    font-size: 3rem;
    cursor: pointer;
}

.product-details{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.size-cart-cont{
     margin-top: 10%; 
}

.add-and-favorite-container{
    display: flex;
}

.product-add-to-cart-button{
    width: 85%;
    height: 50px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid var(--primary);
   
}

.product-add-to-cart-button:hover{
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--black);
}

.product-favorite-button{
    border: 1px solid var(--black);
    width: 15%;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
}

.product-favorite{
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

.select-size{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    padding: 10px;
}

.select-size-cont{
    width: 100%;
}

.product-information-cont{
    margin-top: 10%;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: grid;
}

.text-cont{
    margin-bottom: 50px;
}

.favorite{
    color: var(--black);
    font-size: 2rem;
}

.back-containter{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black);
    display: flex;
}

.back-btn-container{
    width: 60px;
    height: 60px;
    border-right: 1px solid var(--black);
    margin-right: 0 auto;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    cursor: pointer;
    display: flex;
    margin: auto 0;
    display: flex;
}

@media (max-width: 1024px) {
    .productpage-image-container{
        border: 1px solid var(--black);
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 30px;
        float: left;
        width: 50%;
        height: auto;
        margin-bottom: 50px;
    }
    
    .product-details{
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    
    .product-add-to-cart-button{
        width: 75%;
        height: 50px;
        background-color: var(--primary);
        color: var(--white);
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;
        border: 1px solid var(--primary);
       
    }
    
    .product-favorite-button{
        border: 1px solid var(--black);
        width: 25%;
        height: 50px;
        margin-top: 20px;
        margin-left: 10px;
        cursor: pointer;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .product-page-container{
        display: grid;
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    
    .info-and-button{
        width: 100%;
        float: right;
    }
    
    
    .product-page-title{
        font-size: 2rem;
        color: var(--black);
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
    }
    
    .productpage-image-container{
        border: 1px solid var(--black);
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 30px;
        float: left;
        width: 100%;
        height: auto;
    }

    
    .product-details{
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    
    .size-cart-cont{
        margin-top: 50px;
    }
    
    .add-and-favorite-container{
        display: flex;
        width: 100%;
    }
    
    .product-add-to-cart-button{
        width: 85%;
        height: 50px;
        background-color: var(--primary);
        color: var(--white);
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;
        border: 1px solid var(--primary);
       
    }
    
    .product-favorite-button{
        border: 1px solid var(--black);
        width: 15%;
        height: 50px;
        margin-top: 20px;
        margin-left: 10px;
        cursor: pointer;
        padding: 8px;
    }
    
    .favorite{
        color: var(--black);
        font-size: 1.5rem;
    }
    
    .product-information-cont{
        margin: 0 auto;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

}

@media (max-width: 480px) {
    .product-page-container{
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    
    
    .info-and-button{
        width: 100%;
        float: right;
    }
    
    
    .product-page-title{
        font-size: 2rem;
        color: var(--black);
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
    }
    
    .productpage-image-container{
        border: 1px solid var(--black);
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 30px;
        float: left;
        width: 100%;
        height: auto;
    }
    
    
    .product-details{
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    
    .size-cart-cont{
        margin-top: 50px;
    }
    
    .add-and-favorite-container{
        display: flex;
        width: 100%;
    }
    
    .product-add-to-cart-button{
        width: 80%;
        height: 50px;
        background-color: var(--primary);
        color: var(--white);
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;
        border: 1px solid var(--primary);
       
    }

    .product-favorite-button{
        border: 1px solid var(--black);
        width: 20%;
        height: 50px;
        margin-top: 20px;
        margin-left: 10px;
        cursor: pointer;
        padding: 2.5%;
        display: flex;
    }
    
    .product-information-cont{
        margin: 0 auto;
        width: 90%;
        height: auto;
        margin-top: 50px;
    }

}